body {
    background-color: #e1e6ee;

}



/* setings for  all visual flat( disappear) */
.hide {
    opacity: 0;
    transition: opacity 0.4s linear;
}

/* setings for all view flats(add flat,view flat ,my profile) */

.hide * {
    user-select: none;
    pointer-events: none;
}

/* setings for  all visual flat( appear ) */

.show {
    opacity: 1;
    transition: opacity 0.4s linear;
}

/* setings for button remove from view flat */

.remove__list__button {
    color: black;
    height: 1.875rem;
    width: 4.375rem;
    display: flex;
    align-items: flex-start;

    border-radius: 15%;
}

/* setings font style view flat */

.h6_div {
    text-align: left;
    font-size: 0.813rem;
}

/* setings for navigation bar */

nav.navigation {
    background-color: rgb(217, 217, 219);
}

/* setings for navigation bar */

nav.navigation div.p-3 {
    margin-left: 1.875rem;

}

/* setings for view flats */

.cards-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;

}

/* setings for div view flats */

.create-div {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

/* setings for view flats */

#viewFlatList {
    height: 37.5rem;
    overflow-x: auto;
}

/* setings  modal confirmation (remove,favorit,logout) */

#id_confirmdiv {
    z-index: 1000;
    display: none !important;
    background-color: #eee;
    border-radius: 10px;
    border: 2px solid #aaa;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 15.625rem;
    height: 6.25;
    left: 50%;
    bottom: 50%;
    box-sizing: border-box;
    text-align: center;
}


/* style button modal */

#id_truebtn {
    background-color: rgb(119, 240, 135);
    border-radius: 8px;

}

/* style button modal */

#id_falsebtn {
    background-color: red;
    border-radius: 8px;
}

/* setings for  media queries mobile */

@media(max-width :450px) {
    body {
        margin: 0;
        padding: 0;
    }

    /* setings for  all visual flat(  disappear) */

    .hide {
        opacity: 0;
        transition: opacity 1 s linear;
    }

    /* setings for  all visual flat( appear) */

    .show {
        opacity: 1;
        transition: opacity 0.5s linear;
    }

    /* setings for navigation bar */

    .navigation {
        height: 6.688rem;
    }

    /* setings for main container div  */

    .Principal-Container {

        margin-left: 5rem;

    }

    /* setings for view flats card  */

    .card-body {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 18.75rem;
        margin-left: 0.313rem;

    }

    /* setings for view flats card */

    .container.show {
        display: flex;
        align-items: flex-start;
        margin-left: -20px;
        flex-direction: column;
        text-align: center;
        width: 18.75rem;

    }

    /* setings for view flats card */

    .cards-container {

        background-color: #d1d6dd;
        display: flex;
        flex-direction: column;

    }

    /* setings for view flats card */

    .card-view-flat {
        margin-right: 15.625rem;
    }

    /* setings for view flats card */

    .card.show {
        width: 15.625rem;
    }

    /* set for modal */

    #id_confirmdiv {
        width: 12.5rem;
        height: 6.25rem;
        transform: translate(-50%, -50%);
    }

}